// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  header {
    .header {
      &__phone {
        margin: 10px;
        span {
          display: none;
        }
        &:before {
          margin: unset;
        }
      }
      &__search {
        margin: 10px;
      }
    }
    nav {
      flex-grow: 1;
      padding: 0 15px;
      ul {
        justify-content: space-between;
        li {
          a {
            font-size: 14px;
            padding: 0 5px;
          }
        }
      }
    }
  }
  .main-screen {
    height: 450px;
    &__content {
      margin: 0 auto;
    }
    &__bg-wrapper {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .layout {
    &__content {
      .content {
        .inventory {
          &__card {
            &-head {
              padding: unset;
            }
            &-company {
              max-width: 170px;
              padding: unset;
            }
          }
        }
      }
    }
  }
  footer {
    .footer {
      &__item {
        width: 25%;
        &.footer-menu {
          ul {
            padding-right: unset;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  header {
    .header {
      &__wrapper {
        justify-content: space-between;
        .logo {
          img {
            max-width: 150px;
          }
        }
      }
    }
  }
  .layout {
    &__header {
      display: none;
    }
    &__content {
      grid-template-columns: 1fr;
      .sidebar {
        .all-categories-btn {
          display: flex;
        }
        .categories__wrapper {
          display: none;
        }
        .categories {
          display: flex;
          flex-wrap: wrap;
          li {
            width: calc(100% / 3);
            text-align: center;
            padding: 5px;
            margin: unset;
            a {
              height: 130px;
              background: unset;
              .text {
                span {
                  height: unset;
                  opacity: 0;
                }
              }
              &:hover {
                background: unset;
                span {
                  opacity: 1;
                }
              }
            }
            &.active {
              a {
                background: unset;
                span {
                  opacity: 1;
                }
              }
            }
            &.more-categories {
              display: none;
            }
          }
          &__item {
            flex-direction: column;
            flex-grow: 1;
          }
          &__icon {
            &.desktop {
              display: none;
            }
            &.mobile {
              display: block;
            }
          }
        }
      }
    }
  }
  footer {
    .footer {
      &__item {
        width: 50%;
        margin-bottom: 30px;
        &.footer-menu {
          ul {
            padding-right: unset;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  header {
    .container {
      max-width: unset;
      width: 100%;
    }
    .header {
      &__phone {
        margin-left: auto;
      }
    }
    .menu-btn {
      display: block;
    }
    nav {
      width: 300px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -300px;
      background: $white;
      margin: unset;
      z-index: 3;
      padding: 25px;
      overflow: hidden;
      transition: 0.5s;
      .sidenav {
        &__header {
          display: flex;
          margin-bottom: 25px;
        }
      }
      ul {
        flex-direction: column;
        align-items: flex-start;
        li {
          margin: 5px 0;
          a {
            padding: 11px 22px;
            font-size: 16px;
            border-radius: 10px;
            transition: 0.3s;
            &:hover {
              text-decoration: none;
              background: rgba($primary, 0.1);
            }
          }
        }
      }
    }
  }
  .main-screen {
    height: 400px;
    &__content {
      .input-groupe {
        width: 500px;
      }
    }
  }
  .popular-categories {
    &__slider {
      justify-content: flex-start;
      & > div {
        width: calc(100% / 3);
      }
    }
  }
  .advantages {
    &__item {
      flex-direction: column;
      .left,
      .right {
        width: 100%;
        text-align: center;
        .title {
          text-align: center;
        }
        ul {
          display: inline-block;
        }
        .wrap-btn {
          flex-direction: column;
          a {
            margin-bottom: 20px;
          }
          span {
            margin: unset;
          }
        }
      }
      .left {
        max-width: 400px;
        order: 2;
      }
      .right {
        order: 1;
      }
    }
  }
  .california-clean {
    p {
      br {
        display: none;
      }
    }
  }
  .layout {
    &__content {
      .content {
        .inventory {
          &__list {
            .title {
              font-weight: 500;
            }
          }
          &__card {
            &-head {
              a {
                img {
                  width: 165px;
                  height: 125px;
                }
              }
            }
            &-body{
              a.card-title{
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 8px;
              }
              p{
                font-size: 12px;
              }
              &-data{
                margin-top: 10px;
                div{
                  span{
                    font-size: 12px;
                  }
                }
              }
            }
            &-company {
              display: none;
            }
          }
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  header {
    &.index__header {
      order: 1;
    }
  }
  .main-screen {
    height: 300px;
    background: unset;
    order: 2;
    &__content {
      flex-grow: 1;
      z-index: 2;
      margin: 0 27px;
      span {
        font-size: 16px;
        padding: 8px 11px;
      }
      h1 {
        font-size: 28px;
        margin: 15px 0 25px;
      }
      .input-groupe {
        width: 100%;
      }
    }
    .container {
      position: relative;
    }
    &__bg-wrapper {
      margin-left: -9px;
      margin-right: -9px;
    }
  }
  .popular-categories {
    order: 3;
    &__slider {
      & > div {
        width: calc(100% / 2);
      }
    }
  }
  .testimonials {
    order: 4;
  }
  .featured-trucks {
    order: 5;
  }
  .advantages {
    order: 6;
  }
  .questions {
    order: 7;
    &__help {
      &-wrapper {
        padding: 10px;
      }
    }
  }
  .family-owned {
    order: 8;
  }
  .california-clean {
    order: 9;
  }
  footer {
    padding: 50px;
    &.index__footer {
      order: 10;
    }
    .container {
      padding: unset;
    }
    .row {
      margin: unset;
    }
    .footer {
      &__item {
        width: 100%;
        margin-bottom: 30px;
        padding: unset;
        &.footer-menu {
          ul {
            padding-right: unset;
          }
        }
      }
      &__bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        a {
          margin-bottom: 20px;
        }
        span {
          margin: unset;
        }
      }
    }
  }
  .trucks__slider {
    margin: 0 -15px;
  }
  .layout {
    &__content {
      .sidebar {
        .categories {
          li {
            width: calc(100% / 2);
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
