.dropdown {
  &.bootstrap-select {
    width: auto !important;
    button {
      padding: unset;
      color: $primary !important;
      background-color: unset !important;
      border: unset !important;
      outline: unset !important;
      text-transform: capitalize;
      &:active,
      &:hover,
      &:focus {
        border: unset !important;
        outline: unset !important;
        box-shadow: unset!important;
      }
      &:after {
        display: none;
      }
    }
    .dropdown-menu{
      padding: unset;
      li{
        a{
          outline: none;
          padding: 0.25rem 0.5rem;
          .text{
            font-size: 14px;
            font-weight: 400;
            color:$dark;
          }
          &.active{
            background: #F7F8FA;
            .text{
              color:$primary;
            }
          }
          &:hover{
            background: #F7F8FA;
            .text{
              color:$primary;
            }            
          }
        }
      }
    }
  }
}
