.dropdown {
  &.bootstrap-select {
    width: auto !important;
    button {
      padding: unset;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      color: $primary !important;
      background-color: unset !important;
      border: unset !important;
      outline: unset !important;
      text-transform: capitalize;
      &:active,
      &:hover,
      &:focus {
        border: unset !important;
        outline: unset !important;
        box-shadow: unset !important;
      }
      &:after {
        display: none;
      }
    }
    .dropdown-menu {
      padding: unset;
      li {
        a {
          outline: none;
          padding: 0.25rem 0.5rem;
          .text {
            font-size: 14px;
            font-weight: 400;
            color: $dark;
            margin: unset;
          }
          &.active {
            background: #f7f8fa;
            .text {
              color: $primary;
            }
          }
          &:hover {
            background: #f7f8fa;
            .text {
              color: $primary;
            }
          }
        }
      }
    }
    &.financial-field {
      width: 100% !important;
      button {
        height: 58px;
        border: 1px solid #cfd4da !important;
        box-sizing: border-box;
        border-radius: 6px;
        &:after {
          display: block;
          border: unset;
          margin-left: 10px;
          margin-right: 19px;
          content: url("../img/union.svg");
        }
        .filter-option {
          display: flex;
          align-items: center;
          padding-left: 19px;
          .filter-option-inner-inner {
            white-space: normal;
            font-size: 16px;
            font-weight: 400;
            color: rgba($solid, 0.3);
          }
        }
      }
      .dropdown-menu {
        padding: unset;
        li {
          a {
            .text {
              font-size: 16px;
              font-weight: 400;
              color: $dark;
              margin: unset;
            }
            &.active {
              background: #f7f8fa;
              .text {
                color: $primary;
              }
            }
            &:hover {
              background: #f7f8fa;
              .text {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
}
