$white:#fff;
$light:#f4f4f4;
$light-background:#fafafa;
$secondary:#E9C84C;
$dark: #303133;
$dark-blue:#222D48;
$primary:#2356A5;
$gray:#85878B;
$light-gray:#BDBDBD;
$green:#67BB66;
$red:#E04638;
$solid:#121C24;
$light-sky:#E9EFF6;