@import "vars";
@import "libs";
@import "fonts";
@import "sliders";
@import "buttons";
@import "breadcrumbs";
@import "selects";
@import "pagination";
@import "modal";

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: rgba($solid, 0.3);
}

textarea::-moz-placeholder,
input::-moz-placeholder {
  color: rgba($solid, 0.3);
}

/* Firefox 19+ */
textarea:-moz-placeholder,
input:-moz-placeholder {
  color: rgba($solid, 0.3);
}

/* Firefox 18- */
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: rgba($solid, 0.3);
}

.container {
  max-width: 1130px;
}

body {
  
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  line-height: 1.1em;
  font-weight: 400;
  color: #000;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  &.disable {
    position: relative;
    overflow: hidden;
  }
}

.title {
  color: $dark-blue;
  margin: 0;
  &-size-1 {
    font-size: 28px;
    font-weight: 700;
  }
  &-size-2 {
    font-size: 22px;
    font-weight: 600;
  }
  &-size-3 {
    font-size: 18px;
    font-weight: 600;
  }
}

header {
  padding: 20px 0 19px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  .menu-btn {
    display: none;
  }
  .logo {
    display: flex;
  }
  nav {
    margin: 0 auto;
    .sidenav {
      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: none;
      }
      &__logo {
        img {
          width: 150px;
        }
      }
      &__close {
        svg {
          width: 15px;
          height: 15px;
          path {
            stroke: $primary;
          }
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        a {
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          color: $dark;
          padding: 0 17px;
          text-decoration: none;
        }
      }
    }
  }
  .header {
    &__wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }
    &__wrap-btn {
      display: flex;
      align-items: center;
    }
    &__phone {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 15px;
      color: $primary;
      text-decoration: none;
      margin-top: 1px;
      &:before {
        position: relative;
        top: 2px;
        margin-right: 7px;
        display: flex;
        content: url("../img/phone.svg");
      }
    }
    &__search {
      display: flex;
      margin-left: 29px;
    }
  }
}

.main-screen {
  height: 495px;
  background: url("../img/backgroundImage.png") no-repeat center;
  margin-top: 50px;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__content {
    margin-left: 240px;
    span {
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      padding: 8px 16px;
      background-color: $secondary;
      border-radius: 16px;
    }
    h1 {
      font-size: 38px;
      line-height: 45px;
      font-weight: 700;
      color: $white;
      margin: 15px 0 45px;
    }
    .input-groupe {
      position: relative;
      width: 540px;
      height: 46px;
      margin-bottom: 20px;
      input {
        width: 100%;
        height: 100%;
        border-radius: 23px;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        border: none;
        background: $white;
        padding: 0 50px 0 25px;
      }
      button {
        position: absolute;
        right: 17px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
        font-size: 0;
        outline: none;
        background-color: unset;
        border: unset;
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
  }
}

.popular-categories {
  padding-top: 60px;
  padding-bottom: 60px;
}

.featured-trucks {
  padding: 43px 0 40px;
  background-color: $light-background;
}

.advantages {
  padding: 40px 0 50px;
  .title {
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__item {
    max-width: 780px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 86px 0;
    .left {
      width: 40%;
    }
    .right {
      width: 60%;
      text-align: center;
    }
    &:nth-of-type(even) {
      .left {
        order: 2;
      }
      .right {
        order: 1;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 13px 0;
        font-size: 16px;
        font-weight: 400;
        img {
          display: inline-block;
          margin-right: 12px;
        }
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.28;
    }
    .wrap-btn {
      display: flex;
      align-items: center;
      margin-top: 30px;
      span {
        font-size: 12px;
        font-weight: 400;
        color: $gray;
        margin-left: 10px;
      }
    }
  }
}

.testimonials {
  padding: 50px 0 45px;
  background-color: $primary;
}

.questions {
  padding: 85px 0 30px;
  &__accordion {
    max-width: 778px;
    width: 100%;
    margin: 25px auto 30px;
  }
  &__item {
    border-bottom: 1px solid $light;
  }
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    cursor: pointer;
    &:after {
      content: url("../img/union.svg");
      transition: all 0.5s;
    }
    &.active:after {
      transform: rotate(180deg);
    }
    h2 {
      width: 100%;
      display: flex;
      font-size: 16px;
      font-weight: 700;
      color: $dark;
      margin: 0;
    }
  }
  &__body {
    font-size: 14px;
    padding: 0 15px 15px;
  }
  &__help {
    display: flex;
    align-items: center;
    justify-content: center;
    &-wrapper {
      display: inline-flex;
      padding: 16px 21px;
      border: 1px solid $light;
      border-radius: 4px;
      span {
        font-size: 14px;
        font-weight: 400;
        color: $dark;
        a {
          color: $primary;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }
}

.family-owned {
  padding: 55px 0 85px;
  text-align: center;
  img {
    display: block;
    margin: 30px auto 27px;
    max-width: 100%;
  }
}

.california-clean {
  text-align: center;
  padding: 40px 0 42px;
  background: $light-background;
  .title {
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: $dark;
    a {
      color: $primary;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

footer {
  background: $primary;
  padding: 67px 0 50px;
  .container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .footer {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
    &__item {
      width: 21%;
      padding: 0 10px;
      .subtitle {
        font-size: 14px;
        font-weight: 700;
        color: $white;
        margin: 0;
        margin-bottom: 20px;
      }
    }
    &-menu {
      width: 36%;
      ul {
        column-count: 2;
        padding: 0;
        margin: 0;
        padding-right: 19%;
        li {
          list-style: none;
          a {
            font-size: 14px;
            font-weight: 400;
            line-height: 2.1;
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
    &-contacts {
      a {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        color: $white;
        text-decoration: none;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: $white;
      }
    }
    &-social {
      width: 21%;
      p {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: $white;
        margin-bottom: 25px;
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        li {
          list-style: none;
          margin-right: 16px;
          &:last-child {
            margin-right: unset;
          }
        }
      }
    }
    &-newsletter {
      width: 22%;
      p {
        font-size: 14px;
        font-weight: 400;
        color: $white;
        margin-bottom: 25px;
      }
      padding-left: 15px;
    }
    &__bottom {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 55px;
      padding: 0 15px;
      span {
        font-size: 14px;
        font-weight: 400;
        color: $white;
        margin-left: 20px;
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Inventory

.layout {
  &__header {
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light;
    margin-bottom: 20px;
    .select-groupe {
      display: flex;
      align-items: center;
      label {
        display: flex;
        align-items: center;
        margin: unset;
        margin-left: 10px;
        span {
          display: inline-block;
          font-size: 14px;
          font-weight: 400;
          color: $light-gray;
          margin-right: 10px;
        }
      }
    }
  }
  &-with-sidebar {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-column-gap: 23px;
  }
  &__content {
    .sidebar {
      padding-right: 50px;
      .categories {
        padding: unset;
        margin: unset;
        li {
          list-style: none;
          a {
            height: 47px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 400;
            color: $dark-blue;
            padding: 5px 15px;
            border-radius: 6px;
            text-decoration: none;
            &:hover {
              text-decoration: none;
              color: $primary;
              span {
                color: $primary;
              }
            }
            span {
              display: none;
              padding: 5px 9px;
              font-size: 14px;
              font-weight: 400;
              color: $dark-blue;
              background: rgba($primary, 0.1);
              border-radius: 12px;
            }
          }
          &.active {
            a {
              color: $primary;
              background: rgba($primary, 0.1);
              span {
                color: $primary;
                display: block;
              }
            }
          }
        }
      }
      .more-categories {
        display: block;
        padding: 5px 15px;
        font-weight: 14px;
        font-weight: 600;
        color: $primary;
        text-decoration: none;
        &:hover {
          color: lighten($primary, 10%);
        }
      }
    }
  }
}

.inventory {
  &__descriptions {
    padding-bottom: 30px;
    border-bottom: 1px solid $light;
    margin-bottom: 30px;
    .title {
      margin-bottom: 20px;
      line-height: 47px;
    }
    p {
      font-size: 14px;
      line-height: 1.33;
      font-weight: 400;
      color: gray;
      margin: unset;
      a {
        font-weight: 600;
        color: $primary;
        text-decoration: none;
      }
    }
  }
  &__card {
    display: flex;
    align-items: flex-start;
    padding: 40px 0;
    border-bottom: 1px solid $light;
    &-head {
      flex-shrink: 0;
      padding: 0 10px;
      a {
        position: relative;
        display: flex;
        overflow: hidden;
        border-radius: 2px;
        img {
          display: inline-block;
          width: 220px;
          height: 170px;
          object-fit: cover;
        }
        .features {
          position: absolute;
          top: 7px;
          left: 5px;
          padding: 4px 2px;
          border-radius: 4px;
          display: flex;
          align-items: center;
          background-color: $secondary;
          span {
            display: flex;
            margin: 0 4px;
          }
        }
      }
    }
    &-body {
      padding: 0 10px;
      flex-grow: 1;
      h3 {
        font-size: 16px;
        font-weight: 400;
        color: $dark-blue;
        margin: unset;
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: $gray;
        margin: unset;
      }
      &-data {
        display: flex;
        align-items: center;
        margin-top: 30px;
        div {
          display: flex;
          align-items: center;
          margin-right: 24px;
          span {
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            &.price {
              color: $green;
              padding: 4px 9px;
              border-radius: 5px;
              background-color: rgba($green, 0.1);
            }
          }
          img {
            display: inline-block;
            margin-right: 10px;
          }
          &:last-child {
            margin: unset;
          }
        }
      }
    }
    &-company {
      max-width: 200px;
      width: 100%;
      flex-shrink: 0;
      padding: 0 10px;
      text-align: center;
      img {
        display: inline-block;
        margin: 5px 0 15px;
      }
      a {
        width: 100%;
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 80px;
    .trucks-results {
      display: flex;
      padding: 4px 9px;
      font-size: 14px;
      font-weight: 400;
      color: $gray;
      background: $light;
      border-radius: 6px;
    }
  }
}

// Vehicle

.vehicle {
  &__description {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid $light;
    &-text {
      padding-right: 105px;
      h2 {
        font-size: 26px;
        font-weight: 700;
        color: $dark;
        margin-bottom: 30px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: $gray;
      }
    }
    &-info {
      width: 300px;
      flex-shrink: 0;
      .btn {
        width: 100%;
        margin-bottom: 15px;
      }
      .link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px 0;
        text-decoration: none;
        border-bottom: 1px solid $light;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          background-color: $light;
        }
      }
      label {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        span {
          font-size: 10px;
          color: $light-gray;
        }
        a {
          font-size: 16px;
          font-weight: 400;
          color: $primary;
          text-decoration: none;
          color: $primary;
        }
      }
    }
  }
  &__tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 90px;
    padding: 50px 0;
    border-bottom: 1px solid $light;
    table {
      width: 100%;
      caption {
        font-size: 18px;
        font-weight: 500;
        color: $dark;
        caption-side: top;
        padding-top: unset;
        padding-bottom: 37px;
      }
      tr {
        &:nth-of-type(odd) {
          background: $light;
        }
        td {
          width: 50%;
          height: 42px;
          padding: 10px;
          font-size: 14px;
          font-weight: 400;
          &:nth-of-type(1) {
            color: $dark;
          }
          &:nth-of-type(2) {
            color: $gray;
          }
        }
      }
    }
  }
}

.recently-viewed {
  padding: 50px 0;
}

@import "media";
